<div class="user_page">
  <header class="user_page-header">
  </header>
  <div class="pt1em pb1em" id="contents">
    <div id="main_cnt_wrapper">
          <div class="yjContainer">
            <article class="section">
             <h2><%= current_user.kanji_name%> <span>さんのマイページ</span></h2>
              <div class="bs-callout bs-callout-danger">
              <h4>ユーザー情報</h4>
              <table class="table table-striped table-responsive ">
                <thead>
                  <tr>
                  <th class="gray_background">ユーザー名(フリガナ)</th>
                  <td><%= current_user.furigana_name%></td>
                </tr>
                <tr>
                <th class="gray_background">メールアドレス</th>
                <td><%= current_user.email%></td>
                </tr>
                <tr>
                <th class="gray_background">性別</th>
                <td><%= current_user.sex%></td>
                </tr>
                <tr>
                <th class="gray_background">お住まい住所</th>
                <td><%= current_user.address%></td>
                </tr>
                <tr>
            </div>
<!--
          <% current_user.reviews.each do |review| %>
              <li style="background-image: url(<%= review.product.image_url %>)">
                <div class="meta">
                  <header>
                  <div class="title"><%= review.product.title %></div>
                  <span class="star"><span class="rating-star"><i class="star-activated rate-<%= review.rate %>0"></i></span></span>
                  <div class="user_review"><%= review.review %></div>
                </div>
             </li>
            <% end %> -->
              </div>
            </section>
          </div>
      </div>
    </div>
