  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
        <div id="yjMain">
          <article class="section">
            <div class="container">
              <header class="header header--section">
                <h1 class="text-middle">
              インターン先一覧
            </h1>
              </header>
              <ul class="thumbnails thumbnail--movies row grid4 js-lazy-load-images js-my-check-stats" id="list-module">
                <% @products.each do |product| %>
                  <li class="col">
                    <a href="/products/<%= product.id %>"><h3 class="text-xsmall text-overflow" title="<%= product.title %>">
                        <%= product.title %>
                      </h3></a>
                    <div class="thumbnail__caption">
                      <p class="text-small">
                       <% if product.reviews.present? %>
                       <span class="rating-star">
                       <i class="star-actived rate-<%= product.review_average %>0"></i>
                       </span>
                          <% else %>
                        <span class="rating-star">
                          <i class="star-actived rate-0"></i>
                        </span>
                        <% end %>
                      </p>
                    </div>
                  </li>
                <% end %>
              </ul>
              <%= paginate(@products)%>
            </div>
          </article>
        </div>
        <div id="yjSub">
