  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
        <div id="yjMain">
          <article class="section">
            <div class="container">
              <header class="header header--section">
                <h2 class="text-middle">
                  <i class="icon-movie color-gray-light"></i><%= @product.title %>
                </h2>
              </header>
              <p style="text-align: center">
                <img src="<%= @product.image_url %>" alt="<%= @product.title %>">
              </p>
              <div style="text-align: right">
                <a href="/products/<%= @product.id %>/reviews/new">この作品を投稿する</a>
              </div>
              <header class="header header--section">
                <h2 class="text-middle">
                  <i class="icon-movie color-gray-light"></i>会社情報
                </h2>
              </header>
              <ul style="padding: 0">
                <p> <%= @product.detail %>
                </p>
              </ul>
              <header class="header header--section">
                <h2 class="text-middle">
                  <i class="icon-movie color-gray-light"></i>みんなのレビュー
                </h2>
              </header>
              <ul style="padding: 0">
              <% @product.reviews.each do |review| %>
                <li style="border-bottom: dotted 1px">
                  <div class="thumbnail__caption">
                    <h3 class="text-xsmall text-overflow" title="Review">

                      </span>ID:<%= review.user.nickname%><small 2014=""></small>
                    </h3>
                    <p class="text-small">
                      <span class="rating-star"><i class="star-actived rate-<%= review.rate%>0"></i></span>
                    </p>
                  <header>
                    <p class="text-middle">
                      <i class="icon-movie color-blue-light"></i>職種
                    </p>
                    </span><%= review.occupation%><small 2014=""></small>
                  </header>
                  <header>
                    <p class="text-middle">
                      <i class="icon-movie color-blue-light"></i>インターン期間
                    </p>
                    </span><%= review.length%><small 2014=""></small>
                  </header>
                  <header>
                    <p class="text-middle">
                      <i class="icon-movie color-blue-light"></i>１週間あたりの勤務頻度
                    </p>
                    </span><%= review.often%><small 2014=""></small>
                  </header>
                  <header>
                    <p class="text-middle">
                      <i class="icon-movie color-blue-light"></i>時給
                    </p>
                    </span><%= review.hourly_wage%><small 2014=""></small>
                  </header>
                  <header>
                    <p class="text-middle">
                      <i class="icon-movie color-blue-light"></i>シフトや就業日時の柔軟度
                    </p>
                  </header>
                    <p class="text-small">
                      <span class="rating-star"><i class="star-actived rate-<%= review.rate_flexibility%>0"></i></span>
                    </p>
                  <header>
                    <p class="text-middle">
                      <i class="icon-movie color-blue-light"></i>給与への満足度（交通費含む）
                    </p>
                  </header>
                    <p class="text-small">
                      <span class="rating-star"><i class="star-actived rate-<%= review.rate_wage%>0"></i></span>
                    </p>
                  <header>
                    <p class="text-middle">
                      <i class="icon-movie color-blue-light"></i>インターン先の将来性と成長度
                    </p>
                  </header>
                    <p class="text-small">
                      <span class="rating-star"><i class="star-actived rate-<%= review.rate_future%>0"></i></span>
                    </p>
                  <header>
                    <p class="text-middle">
                      <i class="icon-movie color-blue-light"></i>インターンを通じての自己成長度
                    </p>
                  </header>
                    <p class="text-small">
                      <span class="rating-star"><i class="star-actived rate-<%= review.rate_growth%>0"></i></span>
                    </p>
                  <header>
                    <p class="text-middle">
                      <i class="icon-movie color-blue-light"></i>インターンを通しての社会貢献の実感度
                    </p>
                  </header>
                    <p class="text-small">
                      <span class="rating-star"><i class="star-actived rate-<%= review.rate_social%>0"></i></span>
                    </p>
                  <header>
                    <p class="text-middle">
                      <i class="icon-movie color-blue-light"></i>インターン経験が就活で活きる度
                    </p>
                  </header>
                    <p class="text-small">
                      <span class="rating-star"><i class="star-actived rate-<%= review.rate_value%>0"></i></span>
                    </p>
                  <header>
                    <p class="text-middle">
                      <i class="icon-movie color-blue-light"></i>友人にオススメする度
                    </p>
                  </header>
                    <p class="text-small">
                      <span class="rating-star"><i class="star-actived rate-<%= review.rate_reccommendation%>0"></i></span>
                    </p>
                  <header>
                    <p class="text-middle">
                      <i class="icon-movie color-blue-light"></i>業務内容
                    </p>
                    </span><%= review.review_job%><small 2014=""></small>
                  </header>
                  <header>
                    <p class="text-middle">
                      <i class="icon-movie color-blue-light"></i>与えられている裁量・権限
                    </p>
                    </span><%= review.review_authority%><small 2014=""></small>
                  </header>
                  <header>
                    <p class="text-middle">
                      <i class="icon-movie color-blue-light"></i>身につけられるスキル
                    </p>
                    </span><%= review.review_skills%><small 2014=""></small>
                  </header>
                  <header>
                    <p class="text-middle">
                      <i class="icon-movie color-blue-light"></i>教育体制・面倒見のよさ
                    </p>
                    </span><%= review.review_training%><small 2014=""></small>
                  </header>
                  <header>
                    <p class="text-middle">
                      <i class="icon-movie color-blue-light"></i>労働・オフィス環境や雰囲気
                    </p>
                    </span><%= review.review_environment%><small 2014=""></small>
                  </header>
                  <header>
                    <p class="text-middle">
                      <i class="icon-movie color-blue-light"></i>インターンに期待していたこととその実態
                    </p>
                    </span><%= review.review_expectation%><small 2014=""></small>
                  </header>
                  <header>
                    <p class="text-middle">
                      <i class="icon-movie color-blue-light"></i>このインターンをするメリット
                    </p>
                    </span><%= review.review_merit%><small 2014=""></small>
                  </header>
                  </div>
                </li>
                <% end %>
              </ul>
            </div>
          </article>
        </div>
        <div id="yjSub">